@font-face {
    font-family: Reward;
    src: url(RewardPersonalUseRegular-qZAl5.ttf);
    }
body {
    background-color:rgb(234, 189, 130);
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {border:1px solid black;}

h1 {
    font-family:Reward;
    font-size: 5em;
    color:darkred;
    }

button {
    width:200px;
    height:50px;
}

input {
    width:200px;
    height:50px;
    font-size: 1.5em;
    margin-bottom:20px;
    }


.templabels {
    font-size: x-small;
    color:red;
}

#namesection {
    border: 2px solid black;
    padding:10px;
    width:70%;
    margin:10px auto 10px auto;
    background-color:rgb(150, 120, 81);
    color:antiquewhite;
}

#gamesection {
    border: 2px solid red;
    padding:2px;
    margin-top:20px;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}

#playersection {
    width:60%;
    display:inline-block;
    border:3px solid green;
    margin:0;
}
#computersection {
    width:30%;
    display:inline-block;
    align-self:flex-start;
}

#playermessage {
display:block;
}

#playerroll {
    display:flex;
    align-items:center;
    width:50%;
}

.playerdice {
    display:block;
    width:50px;
    height:50px;
    text-align:center;
}
.computerdice{
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
}

#playermoves {
    border:1px solid green;
    margin-top:20px;
    padding:5px;
}